.notes-form-container {
  margin: 0 12%;
  margin-top: 30px;
}

.header-form {
  display: flex;
  justify-content: space-between;
}

.notes-form-container form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}

.submit-button:hover {
  background: #fff;
  color: #252839;
  font-weight: bold;
}

@media (max-width: 532px) {
  .notes-form-container {
    margin-top: 120px;
  }
  .notes-form-container form {
    margin-top: 30px;
  }
}
