.notes-form-container {
  margin: 0 12%;
  margin-top: 40px;
}

.header-form {
  display: flex;
  justify-content: space-between;
}

.notes-form-container form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  cursor: pointer;
}
