.notes-form-container {
  margin: 0 12%;
  margin-top: 200px;
  margin-bottom: -100px;
  display: none;
}

.active {
  display: block;
}

.header-form {
  display: flex;
  justify-content: space-between;
}

.notes-form-container form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}

.submit-button:hover {
  background: #fff;
  color: #252839;
  font-weight: bold;
}

@media (max-width: 532px) {
  .notes-form-container {
    margin-top: 180px !important;
    margin-bottom: -120px !important;
  }
}
