* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #252839;
  color: white;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.component-title {
  color: #a2ddfd;
}

.create-note__button {
  width: 100%;
  padding: 20px 12%;
  margin-top: 64px;
  position: fixed;
  background: #252839;
  z-index: 20;
}

.create-note__button button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.create-note__add-icon {
  font-size: 1.4rem;
  color: #a2ddfd;
}

.notes-list-container {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 16px;
  margin-top: 20px;
}

.list-archive {
  margin-top: 50px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
  margin-top: 50px;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  margin-bottom: 10px;
}

.note-item__content {
  padding: 12px;
  flex: 1;
  overflow: hidden;
}

.note-item__title-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.note-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
  color: #f6ee86;
}

.note-item__menu-toggle {
  cursor: pointer;
  padding: 0 2px;
  font-size: 1.4rem;
}

.note-item__menu-toggle:hover {
  color: #b3dae0;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #f859c3;
  transition: 0.2s;
}

.note-item__archive-button {
  color: #fff263;
  transition: 0.2s;
}

.note-item__archive-button:hover {
  color: #95f14a;
}

.note-item__delete-button:hover {
  color: #f80c0c;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* -------------------------- LIST NOTES RESPONSIVE ------------------------- */
@media (max-width: 1110px) {
  .notes-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 885px) {
  .notes-list-container {
    display: flex;
    flex-wrap: wrap;
  }
  .note-item {
    width: 48%;
  }
}

@media (max-width: 560px) {
  .note-item {
    width: 100%;
  }

  .create-note__button {
    padding: 20px 8%;
    margin-top: 64px;
  }

  .list-notes-container {
    margin-top: 180px !important;
  }

  .list-archive {
    margin-top: 50px !important;
  }
}

@media (max-width: 532px) {
  .list-notes-container,
  .notes-form-container {
    margin: 0 8%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
