.navbar-container {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #252839;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  z-index: 30;
  border-bottom: solid 2px #f6ee86;
  margin-top: -1px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 2rem;
}

.logo-container h1 {
  font-size: 1.3rem;
}

.underline {
  width: 100;
  height: 2px;
  background: #252839;
}

@media (max-width: 430px) {
  .logo-container h1 {
    font-size: 1rem;
  }
}

@media (max-width: 370px) {
  .logo-container h1 {
    display: none;
  }
}
