.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
}

.logo-container h1 {
  font-size: 1.3rem;
}

.underline {
  width: 100;
  height: 2px;
  background: #fff;
}
